.catalog-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.search-bar {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-bar:focus {
  outline: none;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
}

.product-table th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

.product-table th {
  background-color: #4CAF50;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.product-table tr:hover {
  background-color: #f1f1f1;
}

.product-image {
  width: 60px;
  height: auto;
  border-radius: 8px;
}

.quick-view-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.quick-view-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
