table {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
}

thead {
  text-align: left;
}

th {
  border: 1px solid #3F826D;
  color: #3F826D;
  background-color: #ACF39D;
  padding: 20px;
}
@media (max-width: 700px) {
  th {
    padding: 10px;
  }
}

td {
  border: 1px solid #3F826D;
  padding: 20px;
}
@media (max-width: 700px) {
  td {
    padding: 10px;
  }
}

h3 {
  margin: 0;
  display: inline-block;
  border-radius: 7px;
  outline-offset: 7px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  outline: 2px solid #3F826D;
}
h3:hover {
  outline: 5px solid #3F826D;
}
@media (max-width: 1000px) {
  h3 {
    outline-offset: 2.5px;
  }
  h3:hover {
    outline: 3.5px solid #3F826D;
  }
}

.id-collumn {
  width: 50px;
}

.name-collumn {
  width: 150px;
}
