.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  //position: fixed;
  // position: relative;
  bottom: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.links a:hover {
  color: #007bff;
}

.socials {
  display: flex;
  gap: 15px;
}

.socials a {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

.socials a:hover {
  color: #007bff;
}

.bottom {
  margin-top: 20px;
}

.bottom p {
  font-size: 0.875rem;
  color: #aaa;
  margin: 0;
}
